@tailwind base;
@tailwind components;
@tailwind utilities;
/* admin dashboard */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .user {
    color: #fff;
    margin-top: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    cursor: pointer;
}

.user-img {
    width: 30px;
    border-radius: 100%;
    border: 1px solid #eee;
}
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #12171e;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  
  .sidebar.active ~ .main-content
  {
    left: 250px;
    width: calc(100% - 250px);
  }
  
  .sidebar.active{
    width: 250px;
  }
  
  .sidebar #btn {
    position: absolute;
    color: #fff !important;
    opacity: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
  }
  .sidebar.active #btn {
    left: 90%;
  }
  
  .sidebar .top .logo {
    color: #fff !important;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
  }
  .sidebar.active .top .logo {
    opacity: 1;
  }
  
  .top .logo i {
    font-size: 2rem;
    margin-right: 5px;
  }
  
  .user {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }
  .bold {
    font-weight: 600;
  }
  .user p{
    opacity: 1;
    margin-left: 1rem;
  }
  
  .sidebar p {
    opacity: 0;
  }
  .sidebar.active p {
    opacity: 1;
  }
  
  .sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
  }
  .sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
  }
  .sidebar ul li a:hover {
    background-color: #fff;
    color: #12171e;
  }
  .sidebar ul li a:hover i {
    color: #12171e;
}
  .sidebar ul li a i {
    color: #fff;
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-decoration: none;
  }  
  .sidebar .nav-item {
    opacity: 0;
  }
  .sidebar.active .nav-item {
    opacity: 1;
  }

  .main-content {
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto; 
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
}